<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>library</display-name>
 <welcome-file-list>
	<welcome-file>home.html</welcome-file>
 </welcome-file-list>
 <servlet>
	 <description></description>
	 <display-name>ListBooks</display-name>
	 <servlet-name>ListBooks</servlet-name>
	 <servlet-class>com.cvr.ListBooks</servlet-class>	 
 </servlet>
 <servlet-mapping>
	 <servlet-name>ListBooks</servlet-name>
	 <url-pattern>/ListBooks</url-pattern>
 </servlet-mapping>
 <servlet>
	 <description></description>
	 <display-name>LoginServlet</display-name>
	 <servlet-name>LoginServlet</servlet-name>
	 <servlet-class>com.cvr.LoginServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>LoginServlet</servlet-name>
	 <url-pattern>/LoginServlet</url-pattern>
 </servlet-mapping>
 <servlet>
	 <description></description>
	 <display-name>MyBooksServlet</display-name>
	 <servlet-name>MyBooksServlet</servlet-name>
	 <servlet-class>com.cvr.MyBooksServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>MyBooksServlet</servlet-name>
	 <url-pattern>/MyBooksServlet</url-pattern>
 </servlet-mapping>
 <servlet>
	 <description></description>
	 <display-name>BorrowServlet</display-name>
	 <servlet-name>BorrowServlet</servlet-name>
	 <servlet-class>com.cvr.BorrowServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>BorrowServlet</servlet-name>
	 <url-pattern>/BorrowServlet</url-pattern>
 </servlet-mapping>
 <servlet>
	 <description></description>
	 <display-name>Registration</display-name>
	 <servlet-name>Registration</servlet-name>
	 <servlet-class>com.cvr.Registration</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>Registration</servlet-name>
	 <url-pattern>/Registration</url-pattern>
 </servlet-mapping>
 
 <servlet>
	 <description></description>
	 <display-name>AddBooks</display-name>
	 <servlet-name>AddBooks</servlet-name>
	 <servlet-class>com.cvr.AddBooks</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>AddBooks</servlet-name>
	 <url-pattern>/AddBooks</url-pattern>
 </servlet-mapping>
 <servlet>
	 <description></description>
	 <display-name>DeleteBooks</display-name>
	 <servlet-name>DeleteBooks</servlet-name>
	 <servlet-class>com.cvr.DeleteBooks</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>DeleteBooks</servlet-name>
	 <url-pattern>/DeleteBooks</url-pattern>
 </servlet-mapping>
 <servlet>
	 <description></description>
	 <display-name>ReturnServlet</display-name>
	 <servlet-name>ReturnServlet</servlet-name>
	 <servlet-class>com.cvr.ReturnServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>ReturnServlet</servlet-name>
	 <url-pattern>/ReturnServlet</url-pattern>
 </servlet-mapping>
 <servlet>
	 <description></description>
	 <display-name>LogoutServlet</display-name>
	 <servlet-name>LogoutServlet</servlet-name>
	 <servlet-class>com.cvr.LogoutServlet</servlet-class>
 </servlet>
 <servlet-mapping>
	 <servlet-name>LogoutServlet</servlet-name>
	 <url-pattern>/LogoutServlet</url-pattern>
 </servlet-mapping>
</web-app>